[Unit]
Description=Ziti-Router
After=network.target

[Service]
User=root
WorkingDirectory=/opt/netfoundry/ziti/ziti-router
ExecStartPre=-/opt/netfoundry/ebpf/objects/map_update -F -r
ExecStartPre=-/opt/netfoundry/ebpf/scripts/tproxy_splicer_startup.sh
ExecStart=/opt/netfoundry/ziti/ziti-router/ziti-router run /opt/netfoundry/ziti/ziti-router/config.yml
Restart=always
RestartSec=2
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target